@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anton";
  src: url("./assets/fonts/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/helvetica-255-cufonfonts/Helvetica.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/helvetica-255-cufonfonts/Helvetica-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/helvetica-255-cufonfonts/Helvetica-Oblique.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/helvetica-255-cufonfonts/Helvetica-BoldOblique.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/helvetica-255-cufonfonts/helvetica-light-587ebe5a59211.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Mont/Mont-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Anton", serif !important;
}

h1 {
  color: #fff;
  font-family: Anton;
  font-size: 175.566px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.511px;
  text-transform: uppercase;
}
h2 {
  font-family: "Anton", serif !important;
  color: #fff;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 126px */
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
h3 {
  color: #fff;
  font-family: Anton;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

h4 {
  color: #fff;
  font-family: Anton;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 37.8px */
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

h5 {
  color: #fff;
  font-family: Anton;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 37.8px */
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.subtext {
  color: #fff;
  font-feature-settings: "liga" off;
  font-family: "Mont", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.64px;
}

.description {
  color: #fff;
  text-align: center;
  font-family: Mont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.56px;
}

.navbar_link {
  color: #fff;
  font-family: "Mont", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.34px;
}
.navbar_link:hover {
  color: #e67500;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #e67500;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
}

.footer_link {
  color: #fff;
  font-family: Anton;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 32.4px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.footer_link:hover {
  color: #e67500;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #e67500;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

/* code {
  font-family: "K2D", serif !important;
} */
/* .font-HiJack {
  font-family: "Hi Jack", sans-serif;
}
.font-Lato {
  font-family: "Lato", sans-serif;
}
.font-Inter {
  font-family: "Lato", sans-serif;
} */

/* new use start */
.nav_menu_mob_bg {
  background-image: url("./assets/navbar/v2_mob_menu_mob.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.hero_bg {
  background-image: url("./assets/hero/v2_hero_bg.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.DontWaitSec {
  background-image: url(../src/assets/DontWaitSec/dont_wait_bg_new.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.DontWaitSecmob {
  background-image: url(../src/assets/DontWaitSec/bg-mob.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.TheFightSecBG {
  background-image: url(../src/assets/FightSec/doge_vs_pepe_bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.dogeVsPepeBG {
  background-image: url(../src/assets/DogeVSPepeSec/v2_is_making_bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fight_mob_bg {
  background-image: url(../src/assets/mobile_assets/fight_mob_bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.TokenBG {
  background-image: url(../src/assets/tokenomics/v2_token_bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.TokenBGMob {
  background-image: url(../src/assets/tokenomics/mob-bg.png);
  background-position: 0 100px;
  background-size: cover;
  background-repeat: no-repeat;
}
.TokenTicketBg {
  background-image: url(../src/assets/tokenomics/ticket.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.TokenTicket2Bg {
  background-image: url(../src/assets/tokenomics/ticket2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.two_legends_bg {
  background-image: url(../src/assets/twoLegends/v2_two_legends_bg.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}

.two_legends {
  background-image: url(../src/assets/twoLegends/v2_two_legends.webp);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fight_rules {
  background-image: url(../src/assets/fightRule/v2_the_fight_rule_dvp.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wallet_sec {
  background-image: url(../src/assets/walletsec/v2_wallet_bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wallet_doge_bg {
  background-image: url(../src/assets/walletsec/v2_doge.webp);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}
.wallet_pepe_bg {
  background-image: url(../src/assets/walletsec/v2_pepe.webp);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}
.two_legends_mobile {
  background-image: url(../src/assets/mobile_assets/mob_two_led_sec.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* new use end */

.bgmainvip {
  background-image: url(../src/assets/Vipticketsec/bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Roadmap_bg {
  background-image: url(../src/assets/RoadmapSec/v2_roadmap_bg.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.Roadmap_Mob_bg {
  background-image: url(../src/assets/RoadmapSec/doge-mob-bg.png);
  background-position: 0 180px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.Roadmap_Mob_bg2 {
  background-image: url(../src/assets/RoadmapSec/pepe-mob-bg.png);
  background-position: 0 100px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.Communitybgmob {
  background-image: url(../src/assets/mobile_assets/rd_bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Communitymobbg {
  background-image: url(../src/assets/CommunitySec/Commobbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.DontWaitmobSec {
  background-image: url(../src/assets/DontWaitSec/dont-wait-bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.crypbg {
  background-image: url(../src/assets/DogeVSPepeSec/doge-vs-pepe-headline.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  object-fit: cover;
}
.crypbg2 {
  background-image: url(../src/assets/DogeVSPepeSec/pepe-headline.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  -webkit-background-size: cover;
}

.crypbg3 {
  background-image: url(../src/assets/DogeVSPepeSec/doge-headline.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  -webkit-background-size: cover;
}
.crypbgmob {
  background-image: url(../src/assets/mobile_assets//card_dvp_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  object-fit: cover;
}
.crypbg2mob {
  background-image: url(../src/assets/mobile_assets//card_dvp_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  -webkit-background-size: cover;
}
.crypbg3mob {
  background-image: url(../src/assets/mobile_assets//card_dvp_3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  -webkit-background-size: cover;
}
.Biggestbg {
  background-image: url(../src/assets/BiggestSec/bigest-crypto-bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Biggestmobbg {
  background-image: url(../src/assets/BiggestSec/mob.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Biggestbgcard {
  background-image: url(../src/assets/BiggestSec/cardbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 550px;
}
.Biggestcardgr {
  background-image: url(../src/assets/BiggestSec/cardgr.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Hypebg {
  background-image: url(../src/assets/Hype/hypebg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Pressbg {
  background-image: url(../src/assets/PressSec/press-and-media-bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Pressbgmob {
  background-image: url(../src/assets/PressSec/pressbgmob.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgroadmap {
  background-image: url(../src/assets/RoadmapSec/roadbg.png);
  background-position: 0px -20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgroadmapMob {
  background-image: url(../src/assets/RoadmapSec/roadmap-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgmainvipcard {
  background-image: url(../src/assets/Vipticketsec/cardbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Mysterybg {
  background-image: url(../src/assets/MilestonesSec/bgmile.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Mysterymobbg {
  background-image: url(../src/assets/MilestonesSec/bgmilemob.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgrule {
  background-image: url(../src/assets/RuleSec/rulebg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgmainvipcardbox {
  background-image: url(../src/assets/Vipticketsec/boxxx.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bgheromobsec {
  /* background-image: url(./assets/herosec/mobbg.png); */
  background-image: url(./assets/mobile_assets/mob_hero_bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bgwltsec {
  background-image: url(./assets/walletsec/buy-bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bgwltsecmob {
  background-image: url(./assets/walletsec/mobbg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bgwltsecmobUp {
  background-image: url(./assets/mobile_assets/mobile_walt_first.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgwltsecmobDn {
  background-image: url(./assets/mobile_assets/mobile_walt_scnd.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ticketBgMob {
  background-image: url(./assets/Mobile/ticket-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgeversec {
  background-image: url(./assets/FirstEver/back-frame.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 739px;
}

.bgeversecmob {
  background-image: url(./assets/Mobile/century-ring.png);
  /* background-image: url(./assets/FirstEver/first-ever-bg-mob.webp); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgRulesmob {
  background-image: url(./assets/Mobile/rules-bg.png);
  /* background-image: url(./assets/FirstEver/first-ever-bg-mob.webp); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgMystrymob {
  background-image: url(./assets/Mobile/mystry-milestone.png);
  /* background-image: url(./assets/FirstEver/first-ever-bg-mob.webp); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.prize_money_bg {
  background-image: url(./assets/PrizeMoneySec/v2_prize_money.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bgmobprizsec {
  background-image: url(./assets/mobile_assets/prize_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgmobprizsec2 {
  background-image: url(./assets/PrizeMoneySec/bg-mob.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobCountdownBg {
  background-image: url(./assets/Countdown/bg-mob.png);
  background-position: 0 -60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.how_it_all_began_bg {
  background-image: url(./assets/HowItSec/v2_how_it_all_began.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.howitbgmob {
  background-image: url(./assets/mobile_assets/how_it_all.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Tokenomicsbgmob {
  background-image: url(./assets/mobile_assets/tetsom_bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bgMadebySec {
  background-image: url(./assets/madebySec/baby-bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bgDontWaitSec {
  background-image: url(./assets/DontWaitSec/v2_dont_wait_bg_2.webp);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.faqs_bg {
  background-image: url("./assets/faqs/v2_faqs_bg_2.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1800px;
}
.faqs_bg_mob {
  background-image: url("./assets/faqs/faqs_bg_mob.png");
  background-position: 0 -500px;
  background-size: cover;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
}
.fightRules_bg_mob {
  background-image: url("./assets/fightRule/bg-mob.png");
  background-position: 0 -70px;
  background-size: cover;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
}
.bgBlur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.bgBlurXl {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.how_to_buy_bg {
  background-image: url("./assets/howtobuy/v2_how_to_buy_bg_2.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-text {
  background: linear-gradient(181deg, #dd5b01 22.84%, #02fe2e 99.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    #dd5b01 5.47%,
    #e67500 42.62%,
    #00ff2f 97.22%
  );
}

.accordion-gradient-bg-arrow {
  background: linear-gradient(105deg, #dd5b01 -7.63%, #00ff2f 123.65%);
}

.gradient_border {
  border: 1px solid transparent;

  border-image: linear-gradient(
      90deg,
      #dd5b01 5.47%,
      #e67500 42.62%,
      #00ff2f 97.22%
    )
    1;
}
.btn-primary {
  color: #000;
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 70px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(
    90deg,
    #00ff2f 5.47%,
    #e67500 42.62%,
    #dd5b01 97.22%
  );
  /* color: #fff; */
}

.gradient-border {
  position: relative;
  padding: 3px;
  /* Border thickness */
  border-radius: 12px;
  background: conic-gradient(
    from 45deg,
    rgba(0, 0, 0, 0) 0deg,
    /* Transparent at top-right */ #efab007d 25deg,
    /* Gradient starts */ #4eb52a 50deg,
    /* Gradient at bottom-right */ rgba(0, 0, 0, 0) 75deg,
    /* Transparent at left-bottom */ #efab0087 100deg
      /* Full cycle back to top-left */
  );
  /* mask-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff); */
  mask-clip: padding-box, border-box;
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}

.gradient-border > div {
  background: #2a2a2a;
  /* Solid background for inner content */
  border-radius: 10px;
  /* Match the outer border radius */
  overflow: hidden;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  display: none !important;
}

.answer span {
  font-size: 30px;
  line-height: 18px;
  padding-left: 0.5rem;
}

.faqsbrder {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  border: none;
}

.faqsbrder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 1.1px;
  background: linear-gradient(
    10deg,
    #4eb52a -53%,
    #fac000d8 -53%,
    transparent 46%,
    transparent 46%,
    #4eb52a 215%,
    #fac000d8 -53%,
    transparent 329%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.roadborder {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  border: none;
}

.roadborder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 1px;
  background: linear-gradient(
    16deg,
    #fac000d8 -53%,
    transparent 46%,
    #fac000ad 215%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.howitborder {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  border: none;
}

.howitborder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 2px;
  background: linear-gradient(
    16deg,
    #fac000d8 -53%,
    transparent 46%,
    #01fe37 215%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.Mysteryborder {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  border: none;
}

.Mysteryborder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 2px;
  background: linear-gradient(
    16deg,
    #fac000d8 -53%,
    transparent 46%,
    #01fe37 215%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.card2border {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  border: none;
}

.card2border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 1px;
  background: linear-gradient(
    16deg,
    #4eb52a -53%,
    transparent 46%,
    #4eb52a 215%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.Pressborder {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  border: none;
}

.Pressborder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 1px;
  background: linear-gradient(
    16deg,
    #fac000d8 -40%,
    transparent 46%,
    #4eb52a 200%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.Rulesborder {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  border: none;
}

.Rulesborder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;
  background: linear-gradient(
    16deg,
    #4eb52a -53%,
    #fac000d8 -53%,
    transparent 46%,
    transparent 46%,
    #4eb52a 215%,
    #fac000d8 -53%,
    transparent 329%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.Rulesborder2 {
  position: relative;
  width: 100% !important;
  box-sizing: border-box;
  z-index: 1;
  border: none;
}

.Rulesborder2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;
  background: linear-gradient(
    152deg,
    #4eb52a -53%,
    #fac000d8 -53%,
    transparent 46%,
    transparent 46%,
    #4eb52a 215%,
    #fac000d8 -53%,
    transparent 329%,
    transparent 329%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.text-stroke-2 {
  -webkit-text-stroke-width: 1.8px;
  -webkit-text-stroke-color: black;
}

.gradient-box {
  /* content: ''; */
  /* position: absolute; */
  /* top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -5; /* !importanté */
  /* border-radius: inherit; /* !importanté */
  /* background: linear-gradient(to right, red, orange); */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  /* border-radius: 50em; */
  border: 4px solid transparent;
}
.gradient-box-black {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border: 4px solid transparent;
}

@media (max-width: 768px) {
  h2 {
    color: #fff;
    text-align: center;
    font-family: Anton;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 50.4px */
    letter-spacing: 0.84px;
    text-transform: uppercase;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-accordion-up {
  animation: accordion-up 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
